.carousel{
    width: 8vw;
    height: 30vh;
    margin: 10vh auto;
    text-align: center;
}

#carouselHolder{
    width: 30vw;
    clear:both;
    margin: auto;
}

/* Animation stuff below here */
#animation{
    width: 200px;
    height: auto;
    display: inherit;
    background-position: center;
    margin: auto auto;
}

.hex{
    stroke-width: 4;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 198;
    stroke-dashoffset: 198;
    animation: spin 3.5s infinite linear;
    stroke: red;
}

#centerAnimation {
    background-position: center;
    text-align: center;
    margin: 30vh auto auto;
}

@keyframes spin {
    0%{
        stroke: orange;
    }
    25%{
        stroke: blue;
    }
    50%{
        stroke: green;
    }
    75%{
        stroke: purple;
    }
    100%{
        stroke-dashoffset: -198;
        stroke: orange;
    }
}